@use 'colors' as clr;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: clr.$almostBlack;
}

html {
  font-size: 16px;

  body {
    min-height: 100dvh;
    background-color: clr.$smoke;

    h1 {
      color: clr.$mainBlue;
    }

    .main_container {
      max-width: 1024px;
      min-height: calc(100dvh - 5rem);
      margin: auto;
      padding: 1rem 0;
    }
  }
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: clr.$mainBlue;
}